.row {
  display: flex;
  margin-right: 0.2%;
  margin-left: 0.2%;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}




/*Specific stuff of the formatting of the parts*/
/*THE BACKGROUND COLORS ARE FOR TELLING WHAT'S GOING ON WITH MARGINS, PADDING ETC*/
/*IF YOU WANT TO SEE THE SITE WITHOUT EM, JUST COMMENT EM OUT*/

#row1
{
  /*background-color: #DDDDFF;*/
}

#output
{
	background-color: #AACCFF;
  border-radius: 25px;
	height: 600px; 
	margin-left: 3%;
}

#col2
{
	background-color: #CCFFCC;
  border-radius: 25px;
	margin-left: 3%; 
	margin-right: 1%;"
}

#row2
{
	/*background-color: #440000;*/
}

#col3
{
	height: 600px;
	/*background-color: #777777;*/
	margin-left: 3%;
	margin-top: 1%;
}

#col4
{
	height: 600px;
	/*background-color: #440044;*/
	margin-left: 3%;
	margin-right: 1%;
	margin-top: 1%;
}

/*THE TAB STUFF*/
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li
{
  font-size: 12px;
  float: left;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover 
{
  background-color: #111;
}

/*NAVBAR*/

